   <!-------------Second start-->
   <div [@slideIn] class="container mx-auto lg:p-4 p-0">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">








        <div class="bg-primary-900 rounded-lg p-4 shadow-md col-span-3">
            <h2 class="text-2xl font-semibold text-white mb-8">Sales this week</h2>

            <div class="overflow-x-auto">

                <table class="min-w-full divide-y divide-second-900">
                    <thead>
                        <tr>
                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Name</th>
                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Email</th>
                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Country</th>
                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Role</th>
                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Status</th>
                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">#</th>

                        </tr>
                    </thead>
                    <tbody class="bg-primary-400 divide-y divide-second-900">
                        <tr>

                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Efe Görkem Ümit</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">youtube@gmail.com</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Turkey</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">FS Developer</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-green-500">Active</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">
                                <button class="bg-second-900 border hover:text-second-900 border-second-900 hover:bg-transparent text-primary-900 px-3 py-3 rounded-xl "><i class="fa-solid fa-pen-to-square"></i> Edit User</button>
                            </th>
                            
                        </tr>

                        <tr>

                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">John Wick</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">youtube@gmail.com</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">USA</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Artist</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-green-500">Active</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">
                                <button class="bg-second-900 border hover:text-second-900 border-second-900 hover:bg-transparent text-primary-900 px-3 py-3 rounded-xl "><i class="fa-solid fa-pen-to-square"></i> Edit User</button>
                            </th>
                            
                        </tr>

                        <tr>

                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Katya</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">youtube@gmail.com</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">German</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Frontend Dev</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-red-400">Pasive</th>
                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">
                                <button class="bg-second-900 border hover:text-second-900 border-second-900 hover:bg-transparent text-primary-900 px-3 py-3 rounded-xl "><i class="fa-solid fa-pen-to-square"></i> Edit User</button>
                            </th>
                            
                        </tr>


                    </tbody>

                </table>


            </div>
        </div>


    </div>
</div>
<!-------------Second End-->