<app-header></app-header>

<div class="flex">

    <!-------------Main start-->
            <main class="flex lg:ml-60 xl:ml-44 2xl:ml-60 mt-16 lg:mt-16 w-full p-6 " >
                <div class=" mt-6 lg:mt-0 w-full lg:p-6 p-0">

      <!-------------Widget start-->
                    <div class="container  mx-auto lg:p-4 p-0">

                         <!-------------Widget start-->
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

                            
                            <app-dashboard-widget value="10.500" title="New Products" percentage="16"></app-dashboard-widget>


                            <app-dashboard-widget value="12.500" title="User signups this week" percentage="16"></app-dashboard-widget>

                            <app-dashboard-widget value="15.500" title="Visitor this week" percentage="18"></app-dashboard-widget>

                        </div>
                         <!-------------Widget End-->
                       

                    </div>
      <!-------------Widget End-->


             <!-------------Second start-->
                <div class="container mx-auto lg:p-4 p-0">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">


            <app-last-customers></app-last-customers>





                      <app-chart></app-chart>


                    </div>
                </div>
            <!-------------Second End-->


                <!-------------Second start-->
                <div class="container mx-auto lg:p-4 p-0">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">


                     <app-shipping-customers></app-shipping-customers>






                        <div class="bg-primary-900 rounded-lg p-4 shadow-md col-span-2">
                            <h2 class="text-2xl font-semibold text-white mb-8">Sales this week</h2>

                            <div class="overflow-x-auto">

                                <table class="min-w-full divide-y divide-second-900">
                                    <thead>
                                        <tr>
                                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Name</th>
                                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Email</th>
                                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Country</th>
                                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Role</th>
                                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">Status</th>
                                            <th class="uppercase text-second-900 font-medium text-xs bg-primary-700 px-6 py-3">#</th>

                                        </tr>
                                    </thead>
                                    <tbody class="bg-primary-400 divide-y divide-second-900">
                                        <tr>

                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Efe Görkem Ümit</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">youtube@gmail.com</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Turkey</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">FS Developer</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-green-500">Active</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">
                                                <button class="bg-second-900 border hover:text-second-900 border-second-900 hover:bg-transparent text-primary-900 px-3 py-3 rounded-xl "><i class="fa-solid fa-pen-to-square"></i> Edit User</button>
                                            </th>
                                            
                                        </tr>

                                        <tr>

                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">John Wick</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">youtube@gmail.com</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">USA</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Artist</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-green-500">Active</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">
                                                <button class="bg-second-900 border hover:text-second-900 border-second-900 hover:bg-transparent text-primary-900 px-3 py-3 rounded-xl "><i class="fa-solid fa-pen-to-square"></i> Edit User</button>
                                            </th>
                                            
                                        </tr>

                                        <tr>

                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Katya</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">youtube@gmail.com</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">German</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">Frontend Dev</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-red-400">Pasive</th>
                                            <th class="px-6 py-3 whitespace-nowrap text-sm text-white">
                                                <button class="bg-second-900 border hover:text-second-900 border-second-900 hover:bg-transparent text-primary-900 px-3 py-3 rounded-xl "><i class="fa-solid fa-pen-to-square"></i> Edit User</button>
                                            </th>
                                            
                                        </tr>


                                    </tbody>

                                </table>


                            </div>
                        </div>


                    </div>
                </div>
            <!-------------Second End-->
<app-footer></app-footer>

<app-sidebar></app-sidebar>

