<div class="bg-primary-900 mt-5 lg:mt-0 rounded-lg p-4 shadow-md">
    <h2 class="text-2xl font-semibold text-white">Shipping Customers</h2>
    <div class="mt-4 space-y-3">
        <!-------------Customers Single Start-->
        <div class="flex items-center">
            <img src="assets/img/users/1.png" class="w-10 h-10 rounded-full"/>
            <div class="ml-4">
                <p class="text-lg font-semibold text-second-900">Efe Görkem Ümit</p>
                <p class="text-white">email@youtube.com</p>
            </div>
            <div class="ml-auto">
                <p class="text-white">$500</p>
            </div>
        </div>
        <!-------------Customers Single end-->

        <!-------------Customers Single Start-->
        <div class="flex items-center">
            <img src="assets/img/users/2.png" class="w-10 h-10 rounded-full"/>
            <div class="ml-4">
                <p class="text-lg font-semibold text-second-900">Kate Jack</p>
                <p class="text-white">email@youtube.com</p>
                <p class="text-white">email@youtube.com</p>
            </div>
            <div class="ml-auto">
                <p class="text-white">$500</p>
            </div>
        </div>
        <!-------------Customers Single end-->

        <!-------------Customers Single Start-->
        <div class="flex items-center">
            <img src="assets/img/users/3.png" class="w-10 h-10 rounded-full"/>
            <div class="ml-4">
                <p class="text-lg font-semibold text-second-900">John Wich</p>
                <p class="text-white">email@youtube.com</p>
                <p class="text-white">email@youtube.com</p>
            </div>
            <div class="ml-auto">
                <p class="text-white">$500</p>
            </div>
        </div>
        <!-------------Customers Single end-->

        <!-------------Customers Single Start-->
        <div class="flex items-center">
            <img src="assets/img/users/4.png" class="w-10 h-10 rounded-full"/>
            <div class="ml-4">
                <p class="text-lg font-semibold text-second-900">Sam Winchester</p>
                <p class="text-white">email@youtube.com</p>
                <p class="text-white">email@youtube.com</p>
            </div>
            <div class="ml-auto">
                <p class="text-white">$500</p>
            </div>
        </div>
        <!-------------Customers Single end-->



    </div>

</div>